<!DOCTYPE html>
<html>
    <head>
        <title>User Story Manager</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    </head>

    <body>
    <div class="container">
        <nav role="navigation">
        <ul class="nav nav-pills nav-justified">
          <li role="presentation" class="active"><a href="#">Home</a></li>
          <li role="presentation"><a href="#">Add new Story</a></li>
          <li role="presentation"><a href="#">User Story Manager</a></li>
        </ul>
        </nav>
    </div>
    <table border="2">
      <thead>
          <th>ID</th>
          <th>Story_Title</th>
          <th>User_Story</th>
          <th>Acceptance_Criteria</th>
          <th>Business_Value</th>
          <th>Estimation</th>
          <th>Status</th>
      </thead>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
    </body>
</html>
